h1{
    text-align: center;
    color:aqua;
}
img{
    height: 200px;
}
.subrayado{
    text-decoration: underline;
}
.resaltar{
    background-color: aqua;
}
tr{
    background-color: aquamarine;
}
